# Compiler objects
*.o
*.d

# Executables
kissme
kissme.exe

# Code::Blocks junk
*.layout
*.cbTemp

# Sound files
*.mp3
*.ogg
*.wma
*.wav
*.m4a
*.flac
*.opus
*.ay
*.gbs
*.gym
*.hes
*.kss
*.nsf
*.nsfe
*.sap
*.spc
*.vgm
*.vgz

# Images
*.png
*.jpg

# Playlist files
*.kiss
*.m3u
*.m3u8
*.xml
*.asx
*.pls
*.wpl
*.xspf
*.vlc
